//common
$c_white: #fff;
$c_gray_border: #E2E2E2;

$c_bg: #F8F9FB;
$c_table_hover: rgba(57,98,141,0.05);

$c_bg_lilac: #8A98CA;
$c_bg_orange: #F2AC57;
$c_bg_lightred: #E17878;
$c_bg_lighgreen: #B9E5E5;
$c_bg_lighgray: #CACACA;

//font
$c_f_main: #39628D;
$c_f_header: #22242A;
$c_lightgray: #808080;
$c_darkblue: #354069;