@mixin f_400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@mixin f_500 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

@mixin f_600 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

@mixin f_700 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@mixin f_900 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

